@define-color nord0  #2E3440;
@define-color nord1  #3B4252;
@define-color nord2  #434C5E;
@define-color nord3  #4C566A;
@define-color nord4  #D8DEE9;
@define-color nord5  #E5E9F0;
@define-color nord6  #ECEFF4;
@define-color nord7  #8FBCBB;
@define-color nord8  #88C0D0;
@define-color nord9  #81A1C1;
@define-color nord10 #5E81AC;
@define-color nord11 #BF616A;
@define-color nord12 #D08770;
@define-color nord13 #EBCB8B;
@define-color nord14 #A3BE8C;
@define-color nord15 #B48EAD;

* {
    border: none;
    border-radius: 0;
    font-family: "Source Code Pro";
    font-size: 15px;
    min-height: 0;
}

window#waybar {
    background-color: @nord0;
    border-bottom: 2px solid @nord1;
    color: @nord5;
}

#workspaces {
    padding: 0 5px;
}

#workspaces button {
    background: transparent;
    color: @nord3;
    padding: 0 5px;
    min-width: 20px;
}

#workspaces button.focused {
    background: @nord1;
    border-bottom: 2px solid @nord9;
    color: @nord5;
}

#workspaces button.urgent {
    background: @nord11;
    color: @nord6;
}

#battery, #clock, #cpu, #idle_inhibitor, #memory, #mode, #network, #pulseaudio {
    padding: 5px;
}
#battery, #clock, #cpu, #network, #pulseaudio {
    margin-right: 20px;
}

#mode {
    margin: 0 50px;
    background: @nord11;
    color: @nord0;
}

#idle_inhibitor {
    border: 1px solid @nord1;
    color: @nord0;
    font-weight: bold;
}
#idle_inhibitor.activated {
    background: @nord8;
    color: @nord0;
}
#idle_inhibitor.deactivated {
    background: @nord3;
}

#cpu {
    min-width: 55px;
}

.warning {
    background: @nord13;
    color: @nord0;
}

.critical {
    background: @nord11;
    color: @nord0;
}
